:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);

  --h1-font-size: 1.25rem;
  --h2-font-size: .75rem;
  --p-font-size: .75rem;
  --a-font-size: .75rem;

  --font-family: "Inter", sans-serif;
  --font-weight-light: 400;
  --font-weight-medium: 600;
  --font-weight-heavy: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--off-black);
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
  border-radius: .625rem;
  height: auto;
  width: 88%;
  max-width: 20rem;
  padding: 2rem;
}

main img {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto 1.25rem auto;
  clip-path: circle(50% at 50% 50%);
}

h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: var(--white);
  font-size: var(--h1-font-size);
  margin: 0 auto 0.5rem auto;
}

h2 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: var(--green);
  font-size: var(--h2-font-size);
  margin: 0 auto 1.5rem auto;
}

main p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  color: var(--white);
  font-size: var(--p-font-size);
  margin: 0 auto 0.75rem auto;
}

main a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--grey);
  font-family: var(--font-family);
  font-weight: var(--font-weight-heavy);
  color: var(--white);
  font-size: var(--a-font-size);
  border-radius: .3125rem;
  padding: 0.75rem;
  margin: 0.875rem auto 0 auto;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.12s ease-in-out, background-color 0.12s ease-in-out;
}

main a:hover {
  background-color: var(--green);
  color: var(--grey);
  transition: color 0.12s ease-in-out, background-color 0.12s ease-in-out;
}

main a:focus {
  background-color: var(--green);
  color: var(--grey);
  transition: color 0.12s ease-in-out, background-color 0.12s ease-in-out;
}

@media screen and (max-width: 20rem) {

  main {
    height: auto;
    padding: 1.25rem;
  }

}